---
active_tab: home
---

<% content_for :scripts do %>
  <%= javascript_include_tag 'javascripts/moment.min',
                             'javascripts/classie',
                             'javascripts/selectFx',
                             'javascripts/bootstrap-datepicker.min',
                             'javascripts/search-rooms' %>
<% end %>

<div id="mega-slider" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <!-- <ol class="carousel-indicators">
    <li data-target="#mega-slider" data-slide-to="0" class="active"></li>
    <li data-target="#mega-slider" data-slide-to="1"></li>
    <li data-target="#mega-slider" data-slide-to="2"></li>
  </ol> -->

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active beactive">
      <%= image_tag dato.homepage.landing.url, alt: 'spencer flat navajo sandstone near escalante' %>
      <div class="carousel-caption">
        <!-- <img src="images/stars.png" alt=""> -->
        <h2>Entrada Escalante Lodge</h2>
        <p><%= markdown dato.homepage.subtitle %></p>

      </div>
    </div>
    <!-- <div class="item">
      <img src="images/slide-2.png" alt="...">
      <div class="carousel-caption">
        <img src="images/stars.png" alt="">
        <h2>Feel Like Your Home</h2>
        <p>Cogitavisse erant puerilis utrum efficiantur adhuc expeteretur.</p>
      </div>
    </div>
    <div class="item">
      <img src="images/slide-3.png" alt="...">
      <div class="carousel-caption">
        <img src="images/stars.png" alt="">
        <h2>Perfect Place for Dining</h2>
        <p>Cogitavisse erant puerilis utrum efficiantur adhuc expeteretur.</p>
      </div>
    </div> -->
  </div>

  <!-- Controls -->
  <!-- <a class="left carousel-control" href="#mega-slider" role="button" data-slide="prev">
  </a>
  <a class="right carousel-control" href="#mega-slider" role="button" data-slide="next">
  </a> -->
</div>

<div class="mg-book-now">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <h2 class="mg-bn-title">Search Rooms <span class="mg-bn-big">For rates & availability</span></h2>
      </div>
      <div class="col-md-9">
        <div class="mg-bn-forms">
          <form method='post' action='//www.onressystems.com/webapp/book_search.asp'>
            <input type="hidden" name="ReferringPage" value="entradaescalante.com">
            <input type="hidden" name="VendorID" value="685">
            <input type="hidden" name="HotelName" value="Entrada Escalante">
            <div class="row">
              <div class="col-xs-4 mg-input">
                <div class="input-group date mg-check-in">
                  <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                  <input name='StartDate' type="text" class="form-control js-check-in" placeholder="Arrival">
                </div>
              </div>
              <div class="col-xs-4 mg-input">
                <select name='NumGuests' class="cs-select cs-skin-elastic js-nights">
                  <option value="" disabled selected>Adults</option>
                  <% (1..6).each do |adults| %>
                    <option value="<%= adults %>"><%= adults %></option>
                  <% end %>
                </select>
              </div>
              <div class="col-xs-4 mg-input">
                <input name='Code' type="text" class="form-control" placeholder="Promo Code">
              </div>
              <div class="col-xs-4 mg-input">
                <select name='NumNights' class="cs-select cs-skin-elastic js-nights">
                  <option value="" disabled selected>Nights</option>
                  <% (1..14).each do |nights| %>
                    <option value="<%= nights %>"><%= nights %></option>
                  <% end %>
                </select>
              </div>
              <div class="col-xs-4 mg-input">
                <select name='NumChildren' class="cs-select cs-skin-elastic js-nights">
                  <option value="" disabled selected>Children</option>
                  <% (1..6).each do |children| %>
                    <option value="<%= children %>"><%= children %></option>
                  <% end %>
                </select>
              </div>
              <div class="col-xs-4 mg-input">
                <button type="submit" class="btn btn-main btn-block js-search-rooms">Check Now</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="mg-best-rooms">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="mg-sec-title">
          <h2>Our Rooms</h2>
          <p>Overview of our three room choices</p>
        </div>
        <div class="row">
          <% dato.rooms.each do |room| %>
            <div class='col-sm-4'>
              <figure class='mg-room'>
                <%= image_tag room.photos.first.url(w: 360, h: 240, fit: :crop), alt: "#{room.name.downcase} room", class: 'img-responsive' %>
                <figcaption>
                  <h2><%= room.name %></h2>
                  <div class='mg-room-price'>$<%= room.price %><sup>.00/Night</sup></div>
                  <p><%= room.short_description %></p>
                  <% link_to "/rooms/#{room.slug}.html", class: 'btn btn-link' do %>
                    View Details <i class='fa fa-angle-double-right'></i>
                  <% end %>
                  <%= link_to 'Book',
                    "//onressystems.com/vendors/entradaescalante/reservations.html",
                    class: 'btn btn-main' %>
                </figcaption>
              </figure>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <div class="container">
  <div class="row">
    <div class="col-md-12">
      <hr>
    </div>
  </div>
</div> -->
<div class="mg-about parallax">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h2 class="mg-sec-left-title">About the Entrada Escalante Lodge</h2>
        <p><%= markdown dato.homepage.about_text %></p>
      </div>
      <div class="col-md-5">
        <div class="video-responsive">
          <%= image_tag dato.homepage.about_image.url, alt: 'view of the entrada escalante lodge buildings' %>
        </div>
        <!-- <div class="video-responsive">
          <iframe src="https://player.vimeo.com/video/134008155" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div> -->
      </div>
    </div>
  </div>
</div>

<div class="mg-features">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="mg-sec-title">
          <h2>Hotel amenities</h2>
          <p></p>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <div class="mg-feature">
              <div class="mg-feature-icon-title">
                <i class="fa fa-wifi"></i>
                <h3>Complementary WiFi</h3>
              </div>
              <p>Premium, highspeed internet connection accessed anywhere on premises.  No additional charge.</p>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="mg-feature">
              <div class="mg-feature-icon-title">
                <i class="fa fa-coffee"></i>
                <h3>Coffee and tea</h3>
              </div>
              <p>We provide freshly ground, locally roasted and sourced coffees and full-leaf, fair trade teas to guests.</p>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="mg-feature">
              <div class="mg-feature-icon-title">
                <i class="fa fa-photo"></i>
                <h3>Private patio seating</h3>
              </div>
              <p>Rooms have back patio seating with views of the Grand Staircase-Escalante National Monument.</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <div class="mg-feature">
              <div class="mg-feature-icon-title">
                <i class="fp-ht-washingmachine"></i>
                <h3>Guest laundry on-site</h3>
              </div>
              <p></p>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="mg-feature">
              <div class="mg-feature-icon-title">
                <i class="fp-ht-sweep"></i>
                <h3>Daily housekeeping services</h3>
              </div>
              <p></p>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="mg-feature">
              <div class="mg-feature-icon-title">
                <i class="fa fa-paw"></i>
                <h3>Pet and equine friendly facilities</h3>
              </div>
              <p></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
