---
title: Entrada Escalante | Rooms
active_tab: rooms
---

<div class="mg-page-title parallax">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Rooms</h2>
        <p><%= dato.rooms_page.subtitle %></p>
      </div>
    </div>
  </div>
</div>

<div class="mg-page mg-available-rooms">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <% dato.rooms.each do |room| %>
          <div class="mg-avl-room">
            <div class="row">
              <div class="col-sm-5">
                <% link_to "/rooms/#{room.slug}.html" do %>
                  <%= image_tag room.photos.first.url(w: 460, h: 310, fit: :crop), alt: room.photos.first.alt, class: 'img-responsive' %>
                <% end %>
              </div>
              <div class="col-sm-7">
                <h3 class="mg-avl-room-title">
                  <a href="<%= "/rooms/#{room.slug}.html" %>"><%= room.name %></a> <span>$<%= room.price %><sup>.00</sup></span>
                </h3>
                <p><%= room.short_description %></p>

                <% left_amenities, right_amenities = parse_and_split(room.amenities, limit: 6) %>
                <div class="row mg-room-fecilities">
                  <div class="col-sm-6">
                    <ul>
                      <% left_amenities.each do |amenity| %>
                        <li><i class='<%= amenity[0] %>'></i> <%= amenity[1] %></li>
                      <% end %>
                    </ul>
                  </div>
                  <div class="col-sm-6">
                    <ul>
                      <% right_amenities.each do |amenity| %>
                        <li><i class='<%= amenity[0] %>'></i> <%= amenity[1] %></li>
                      <% end %>
                    </ul>
                  </div>
                </div>
                <% link_to "/rooms/#{room.slug}.html", class: 'btn btn-dark' do %>
                  View Details <i class="fa fa-angle-double-right"></i>
                <% end %>
                <%= link_to 'Book Now',
                            "//onressystems.com/vendors/entradaescalante/reservations.html",
                            class: 'btn btn-main pull-right' %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
